<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tcc.help" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Help</name>
    <description>
        Aplicativo de cadastro e divulgação de trabalhos voluntários baseado nos interesses dos usuários.
    </description>
    <author email="zagamendes@hotmail.com" href="https://www.instagram.com/zaga_mendes/">
        Izaac Alves Mendes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="https://apptcc-6f556.firebaseapp.com/*" /> 
    <allow-intent href="https://www.facebook.com/*" /> 
    
    <universal-links>
        <host name="apptcc-6f556.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
    </universal-links>
    <icon src="www/img/volunteer.png" />
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="19"/>
        <!-- <resource-file src="google-services.json" target="app/google-services.json" /> -->
        <splash src="www/img/logo index.png"/>
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="img/logo index.png" />
        <preference name="AutoHideSplashScreen" value="false" /> <!-- defaults to "true" -->
    </platform>
</widget>
