body{
    background-image: linear-gradient(to top, #6fd6a2 , #60B8FF);

    font-family: "roboto";
    height: 100em;
}
.btn-index-entrar{
    border-radius: 25px !important;
    border-color: white !important;
    border-width: 3px !important;
    background-color: #6FD6A2
}
.btn-index-sobre{
    border-radius: 25px !important;
    border-width: 3px !important;
    background: white;
    color: #60B8FF;
}
.row-index-logo{
    margin:140px auto !important ;
 
}

