p span {
  color: red !important;
}
button span {
  color: white !important;
}
.fa-share-alt {
  color: white;
}

button p {
  margin-bottom: 0;
}

.btn-danger {
  padding: 2px 6px;
}
.btn-primary {
  padding: 12px 6px;
}
.btn-success {
	padding: 3px 6px;
  }
.col-sm-12,
.col-md-6,
.col-lg-6,
.col-xl-4 {
  margin-bottom: 30px;
}

@media screen and (max-width:1199px){
	.btn-success{
		padding: 12px 6px ;
	}
}

@media screen and (max-width: 990px) {
  .btn-primary {
    padding: 12px 1px;
  }
  .btn-success{
	  padding: 4px 6px;
  }
}

@media screen and (max-width: 767px) {
  .btn-danger {
    padding: 12px 6px;
  }
  .btn-primary {
    padding: 12px 30px;
  }
  .btn-success{
	  padding: 12px 18px;
  }
}

@media screen and (max-width: 502px) {
  .btn-danger {
    padding: 12px 1px;
  }
  .btn-primary {
    padding: 12px 28px;
  }
}
@media screen and (max-width: 485px) {
  .btn-primary {
    padding: 22px 14px;
  }
}
@media screen and (max-width: 450px) {
  .btn-success {
    padding: 22px 18px;
  }
}
@media screen and (max-width: 428px) {
  .btn-primary {
    padding: 21px 4px;
  }
}
@media screen and (max-width: 388px) {
  .btn-primary {
    padding: 21px 1px;
  }
}
@media screen and (max-width: 375px) {
  .btn-primary {
    padding: 21px 0px;
  }
}
@media screen and (max-width: 371px) {
  .btn-primary {
    padding: 12px 0px;
  }
}
@media screen and (max-width: 320px) {
  .btn-danger {
    padding: 15px 10px;
  }
  .btn-primary {
    padding: 24px 5px;
  }
  .btn-success{
	  padding: 24px 18px;
  }
}
