body {
  background: mediumaquamarine;
  font-family: "roboto";
}

a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "roboto";
}

.texto-icone {
  max-width: 160px;
  font-size: 20px;
}

.img-fluid {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

.navbar {
  background: none;
}

.logo {
  max-width: 120px;
}