<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<title>Evento - HELP</title>
		<meta charset="utf-8">
		
		<meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
		
		<meta property="og:image" content="<%= evento.caminho %>">
		<meta property="og:title" content="<%= evento.titulo %>">
		<meta property="og:description" content="<%= evento.descricao %>">

		<meta property="og:type" content="website">

		<meta name="description" content="Site de cadastros e divulgacões de trabalhos de voluntários.">

		<meta property="author" content="Izaac Mendes">
		

		<script src="js/firebase/firebase-app.js"></script>
		<script src="js/firebase/firebase-auth.js"></script>
		<script src="js/firebase/firebase-database.js"></script>
		<script src="js/firebase/firebase-analytics.js"></script>
		<script src="js/firebase/InitFirebase.js"></script>

		<script src="js/firebase/firebase-ui-auth__pt.js"></script>
		<link type="text/css" rel="stylesheet" href="css/firebase-ui-auth.css" />

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
		<script type="text/javascript" src="js/minhasFuncoes.js"></script>

		<script type="text/javascript" src="js/classes/Notificacao.js"></script>
		<script type="text/javascript" src="js/classes/Evento.js"></script>
		<script type="text/javascript" src="js/classes/Usuario.js"></script>
		<script type="text/javascript" src="js/eventos/eventos-evento.js"></script>
		<link rel="stylesheet" href="css/leaflet.css" />
		<script src="js/leaflet.js"></script>


		<link rel="stylesheet" type="text/css" href="css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/mdb.min.css">
		<link rel="stylesheet" type="text/css" href="css/fa/css/all.css">
		<link rel="stylesheet" type="text/css" href="css/evento.css">
		
	   
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap" rel="stylesheet">

	</head>



	<body>
		
		
		
		<div class="container">
			<div id="#barra-pesquisa" class="barra-pesquisa" style="z-index: 1900;" >

				<span  class="fas fa-chevron-circle-left mt-1" id="btn-voltar" onclick="location.replace('eventos.html')"></span>
					
			</div>


			
			<img src="img/loading.gif" id="img-loading" class="img-fluid mx-auto d-block">
			<div class="row row-evento">
			</div>
			
			<div class="modal fade" id="myModal">

				<div class="modal-dialog modal-dialog-centered">

					<div class="modal-content">

						<div class="modal-header">
							<p class="modal-title">Para se inscrever em um evento, você precisa primeiro estar logado no sistema! Crie sua conta ou faça login com um dos métodos abaixo.</p>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<div class="modal-body">
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger text-uppercase font-weight-bold" data-dismiss="modal">
								fechar
							</button>
						</div>

					</div> <!-- MODAL CONTENT -->
					
				</div> <!-- MODAL DIALOG -->
				
			</div> <!-- MY MODAL -->


		</div>

		
	</body>
	
</html>