body {
  /*background-image: linear-gradient(to top, #3498DB , #2ccd71);*/
  font-family: "roboto";
  background: mediumaquamarine;
}

a,
p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "roboto";
}

.texto-icone {
  max-width: 100px;
}

.navbar {
  background: none;
}

.logo {
  max-width: 100px;
}
